.product-container {
    display: flex;
    background-color: #EBEBEB;
    border: 2px solid #e0e0e0;
    border-radius: 10px 0 0 10px;
    margin-bottom: 10px;
    width: 300px;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
}

.product-container2 {
    display: flex;
}

.product-text {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 47px;
    border: 0;
    height: 47px;
    border-radius: 0 10px 10px 0;
}

